body {
    background-image: url('../styles/color-theory-basics.webp');
    background-size:100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    margin-top: 30px;
    border-color: plum;
    border-radius: 50%;
    cursor: pointer;
}


